<%=name%> what are your three favorite numbers? 
<form action = "favorite" method = "post">
     <input type = "text" name = "user_favorite_numbers1">
     <input type = "text" name = "user_favorite_numbers2">
     <input type = "text" name = "user_favorite_numbers3">
     
     <input type = "text" name = "user_name" value =     <%=name%> hidden>
     <input type = "text" name = "user_location" value = <%=location%> hidden> 
     <input type = "text" name = "user_age" value = 
         <%=age%> hidden>
     <input type = "submit">
</form>     