<!--user* your age is age * your three favorite numbers are num1*, num2*, num3* and the sum* of them is sum* which is either less then or greater then your age* 
<%=#name%>  favorite numbers?
<form action = "post_name" method = "post">
     <input type = "text" name = "user_favorite_numbers1">
     <input type = "text" name = "user_favorite_numbers2">
     <input type = "text" name = "user_favorite_numbers3">
     <input type = "text" name = "user_name" value = <%=name%> hidden>  
     <input type = "submit">
</form>-->